/* The media query for the table */
	@media only screen and (max-width: 479px) { 
		th, td {
			display: block; 
		} 
		thead { 
			display: none; 
		}
		tr td:first-child { 
			font-weight: bold; 
			font-size: 110%;
			background-color: aqua;
		 } 
		tbody td { 
		border-bottom-style: none; 
		} 
		tfoot {
			background-color: white; 
			border: none;
			border-top: 1px solid black; }
		tfoot th, tfoot td:nth-of-type(1) {
			display: none;
		} 
}