/* 3 columns with 35px gaps and 2px rules between the columns */
article {
	column-count: 3; 
	column-gap: 35px;
	column-rule: 2px solid black; 
} 

/*
Description 
• At this writing, Firefox doesn’t support the column-span property. 
• If you want the heading of an article to span the columns, you can code 
    the HTML for the heading before the article. Then, you don’t have to use 
    the column-span property. 
• If the columns are too narrow, an article becomes harder to read.
*/
