/* How to set the padding on multiple sides of an element */
	padding: 1em;                      /* all four sides */ 
	padding: 0 1em;                    /* top and bottom 0, right and left 1em */
	padding: 0 1em .5em;               /* top 0, right and left 1em, bottom .5em */
	padding: 0 1em .5em 1em;           /* top 0, right 1em, bottom .5em, left 1em */


/*
Properties for setting padding
padding-top 		A relative or absolute value that defines the space between 
						the top of an element and its top border.
padding-right 		A relative or absolute value that defines the space between 
						the right side of an element and its right border.
padding-bottom		A relative or absolute value that defines the space between 
						the bottom of an element and its bottom border.
padding-left 		A relative or absolute value that defines the space between 
						the left side of an element and its left border.
padding 			One to four relative or absolute values that specify the 
						padding on multiple sides of an element. One value is 
						applied to all four sides. Two values are applied to the 
						top and bottom and right and left. Three values are 
						applied to the top, right and left, and bottom. And four 
						values are applied to the top, right, bottom, and left 
						(think trouble).
*/

/*
Description 
	• If you set the top and bottom margins for elements to zero, you can use 
		padding to set the spacing between the elements.
*/