/* CSS that uses flexbox to display the menu vertically */
ul {
	display: flex;
	flex-direction: column; 
	list-style-type: none; 
	padding: 0; 
	margin: 0; }
li {
	background: silver; 
	width: 150px;
	margin: 0 15px 15px 0; 
	padding: 5px;
	text-align: center; 
} 
a {
	text-decoration: none; 
	color: #000; 
}

/*
Properties for creating a flexbox and setting the direction of the flex items 
display				Specifies the type of box used for an HTML element. Possible values 
						include flex (rendered as a block) or flex-inline (rendered as 
						inline content).
flex-direction		Specifies the direction of the flex items within the flex container. 
						Possible values include row and column. The default is row.
*/


Description 
	• Every HTML element has a default value for the display property depending on whether it’s a 
		block element (block) or an inline element (inline). To display an element as a flex 
		container instead, you set the display property to one of the values shown above

