/* CSS that specifies the font sizes in ems */
body {
	font-size: 100%;                                        /* 16 pixels */
	width: 90%;
	max-width: 1024px; 
	margin: 0 auto;
	border: 2px solid black; 
}
h1 { font-size: 1.75em; 
}                                                           /* 28 ÷ 16 */
h2 { font-size: 1.5em; 
}                                                           /* 24 ÷ 16 */
h3 { font-size: 1.125em; 
}                                                           /* 18 ÷ 16 */
footer p { font-size: .75em; 
} 

/*
Description 
	• When you specify the size of a font for a fluid layout, you should use ems or percents 
		or viewport heights or widths. 
	• When you use ems or percents, the size you specify is relative to the size of the parent 
		element. That makes it easy for you to change the size of an element and all of its 
		children at the same time. This is particularly useful for changing all the font sizes 
		by changing the base font size. 
	• The default font size for most browsers is 16 pixels. Because of that, you can calculate 
		the font size you want to use in ems by dividing the font size in pixels by 16. 
		To calculate the font size as a percent, multiply the result by 100. 
	• An issue can arise with versions of Internet Explorer before IE 10 if you specify the 
		base font size for a page using ems. Because of that, you should use a percent instead. 
	• When you use the viewport height or width to size fonts, the size changes as the height 
		or width of the viewport changes.

*/